@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~normalize.css';

@import './code.scss';
@import './markdown.scss';

$content-status-bar-spacing: 0.75rem;

html,
body {
  height: 100%;
}

#app,
#container {
  height: 100%;
}

#container {
  padding: 1rem 1rem $content-status-bar-spacing 1rem;
  display: flex;
  flex-direction: column;

  background-color: $light-gray5;

  body.#{$ns}-dark & {
    background-color: $dark-gray4;
  }
}

.content-input {
  resize: none;
}

.split-content-area {
  display: flex;
  height: 100%;
  overflow-y: hidden;

  .#{$ns}-divider {
    margin: 0 $pt-grid-size;
  }

  .content-input-container,
  .content-output-container {
    flex-basis: 50%;
    height: 100%;
  }

  .content-input {
    height: 100%;
  }

  .content-output-container {
    overflow: auto;
    margin: 0;
  }
}

.status-bar {
  display: flex;
  gap: $pt-grid-size;
  justify-content: space-between;
  padding-top: $content-status-bar-spacing;
  overflow-y: scroll;

  .status-bar-history {
    display: flex;

    .version-tag {
      margin: 0 $pt-grid-size;
    }
  }

  .status-bar-menu {
    display: flex;
    gap: $pt-grid-size;
  }

  .status-bar-callout {
    padding: $pt-grid-size / 2 $pt-grid-size $pt-grid-size / 2;
    width: unset;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.#{$ns}-callout-icon > .#{$ns}-icon:first-child {
      top: $pt-grid-size / 2;
    }

    .#{$ns}-heading {
      display: inline-block;
      margin: 0 $pt-grid-size 0 $pt-grid-size * 2.5;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }
}

.version-history-menu {
  max-height: 75vh;
  overflow-y: auto;
}

.select-language-dialog {
  width: 70vw;

  .search-languages-input {
    margin-bottom: $pt-grid-size * 2;
  }

  .languages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
    overflow: auto;

    li {
      flex-basis: 0;
    }
  }
}

.share-menu-header {
  display: flex;

  .#{$ns}-divider {
    margin-right: $pt-grid-size;
    margin-left: $pt-grid-size;
  }

  .share-menu-switch {
    margin-right: 0;
    color: $pt-text-color-muted;

    body.#{$ns}-dark & {
      color: $pt-dark-text-color-muted;
    }
  }
}

.copy-share-link-alert .#{$ns}-alert-contents {
  width: 100%;
}

.text-option-switches-container {
  padding: $pt-grid-size;

  .#{$ns}-switch:last-child {
    margin-bottom: 0;
  }
}
