@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~normalize.css';

$content-status-bar-spacing: 0.75rem;

body {
    height: 100vh;
}

#app, #container {
    height: 100%;
}

#container {
    padding: 1rem 1rem $content-status-bar-spacing 1rem;
    display: flex;
    flex-direction: column;

    background-color: $light-gray5;

    &.#{$ns}-dark {
        background-color: $dark-gray4;
    }
}

.content-input {
    resize: none;
}

.split-content-area {
    display: flex;
    height: 100%;

    .#{$ns}-divider {
        margin: 0 $pt-grid-size;
    }

    .content-input-container, .content-output-container {
        flex-basis: 50%;
        height: 100%;

        .content-input {
            height: 100%;
        }
    }
}

.status-bar {
    display: flex;
    justify-content: space-between;
    padding-top: $content-status-bar-spacing;

    .status-bar-history {
        display: flex;

        .view-latest-button {
            margin-left: $pt-grid-size;
        }
    }
}

.status-bar-callout {
    padding: $pt-grid-size / 2 $pt-grid-size $pt-grid-size / 2;
    margin-right: $pt-grid-size;
    display: inline;

    &.#{$ns}-callout-icon > .#{$ns}-icon:first-child {
        top: $pt-grid-size / 2;
    }

    .#{$ns}-heading {
        display: inline-block;
        margin: 0 $pt-grid-size 0 0;
    }
}

.version-history-menu {
    max-height: 75vh;
    overflow-y: auto;
}
