@import '~@blueprintjs/core/lib/scss/variables.scss';

.markdown {
  :first-child {
    margin-top: 0;
  }

  pre {
    overflow-x: auto;
    margin-right: $pt-grid-size;
  }

  // Blueprint's default styling of <pre><code> needs tweaking
  pre > code {
    background: initial !important;
    box-shadow: initial !important;
    color: inherit !important;
  }

  .header-anchor {
    color: $gray4;

    .#{$ns}-dark & {
      color: $gray1;
    }

    &:hover {
      color: $gray5;
      text-decoration: none;

      .#{$ns}-dark & {
        color: $gray2;
      }
    }
  }
}
