@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~normalize.css';

body {
    background-color: $light-gray5;

    &.#{$ns}-dark {
        background-color: $dark-gray4;
    }
}

#app {
    margin: $pt-grid-size;
}
