@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '~normalize.css';

body {
  background-color: $light-gray5;
  margin: $pt-grid-size;
  min-height: calc(100vh - #{$pt-grid-size * 2});

  &.#{$ns}-dark {
    background-color: $dark-gray4;
  }
}

#app {
  overflow: auto;
  min-width: 100%;
  min-height: inherit;
}
