@import '~@blueprintjs/core/lib/scss/variables.scss';

body {
    margin: 2rem;
    background-color: $light-gray5;
}

/* TODO: use flex layout instead */
textarea.bp3-input.content-input {
    height: calc(100vh - 5.75rem);
    margin-bottom: 1rem;
}
